@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

*{
    font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;
}
body{
    background-image: url('../images/background.png');
    position: relative;
    top: 0;
}
h1 {
    padding: 20px;
    text-align: center;
}
aside{
    min-height: 80px;
    margin-top: 0px;
}
aside div{
    display: inline;
    border-bottom: 2px solid green;
    margin-right: 5px;
    padding: 5px;
    margin: 0 5px;
    font-size: 25px;
    min-width: 25px;
    max-width: 25px;
    width: 25px;
    color: darkred;
}

aside div:empty{
    content: "-";
    border: 0;

    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;    
}
aside div:empty:before{
    content: "-";
}


p#message{
    color: green;
    padding: 20px;
    min-height: 40px;
    height: 40px;
    margin-top: 200px;
    text-align: center;
}

.wrap-hangman{
    width: 300px;
}
.hangman{
    position: relative;
    left: 250px;
    top: -70px;

}
.hangman img{
    position: absolute;
    left: -15px;
    top: -285px;
    width: 150px;
    display: none;
}
.hangman img:first-child{
    display: block;
}


.hangman .singer{
    display: none;
    left: -240px;
    top: -250px;

}

header{
    position: relative;
    top: 0;
    width: 500px;
    margin: auto;
}
h4 {
    margin-left: 60px;
    color: darkred;
    font-weight: bold;
    text-align: center;
}
.site-img{
    width: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
}

section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

section div {
    padding: 5px;
    display: flex;
    font-size: 12px;
    margin-right: 10px;
    min-width: 100px;
    align-self: start;
    justify-content: right;
    align-content: flex-start;
}
section div span {
    text-align: center;
    vertical-align: center;
    color: white;
    font-weight: bold;
    max-height: 30px;
    min-width: 45px;
    background-color: green;
    border-radius: 10px;
    margin-left: 5px;
    
}

.lettersGuessed {
    text-align: left;
    font-size: 12px;
    max-width: 400px; 
    display: block;
    width: 400px;
    margin-top: 10px;

}
.lettersGuessed span{
    display: block;
    color: white;
    font-weight: bold;
    width: 100%;
    background-color: green;
    border-radius: 10px;
    margin-top: 5px;
    padding: 2px 5px;
    text-align: center;
    min-height: 20px;
}


footer{
    padding: 10px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

button{
    font-weight: bold;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    margin: 2px;
    padding: 5px 10px;
}

@media screen and (max-width: 640px){
    button{
        display: inline;
    }
}